@media screen and (min-width: 1400px) {
    .carousel {
        height: 500px;
    }
}

@media screen and (max-width: 1400px) {
    .carousel {
        height: 400px;
    }
}

@media screen and (max-width: 1300px) {
    .carousel {
        width: 100%;
        height: 380px;
    }
}

@media screen and (max-width: 1200px) {
    .discount_main_section {
        gap: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .search_div {
        display: none;
    }

    .notShowing {
        display: block;
    }

    .carousel {
        height: 320px;
    }
    .section_unmissable_images {
        width: 95%;
    }

    .discount_main_section {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }

    .discount_images {
        width: 80%;
    }

    .discount_texts {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .section_unmissable_images {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .middle-navbar {
        display: none;
    }

    .dropdown-menus {
        display: block;
    }

    .hamburger-container {
        display: block;
    }
    
    .main-content {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .carousel {
        height: 220px;
    }
}

@media screen and (max-width: 530px) {
    .main_recommend_book {
        width: 220px;
    }
}

@media screen and (max-width: 440px) {
    .carousel {
        height: 120px;
    }

    .circles i {
        font-size: 0.5rem;
    }

    .circles i[data-active] {
        font-size: 0.75rem;
    }

    .main_recommend_book {
        width: 180px;
    }

    .small_recommend_books {
        width: 100%;
    }

    .recommend_book {
        width: 100%;
    }

    .recommend_books {
        gap: 1rem;
    }

    .discount_images {
        width: 100%;
        height: 180px;
    }

    .discount_texts {
        width: 90%;
    }
}
