:root {
    --ff-josefin: 'Josefin Slab', serif;
    --ff-poppins: 'Poppins', sans-serif;

    --textTransition: color 0.3s ease;
    --transitionEffect: all .3s ease;

    --clr-orange: rgb(249 115 22 / 1);
    --text: #131610;
    --background: #f5f5f7;
    --primary: #81956f;
    --secondary: #abc1b8;
    --accent: #93afae;

    --greenish: #63a29d;
    --greenishBackground: #e6f0ef;

    --clr-orangy: #dca44f;
    --clr-oily-skin: rgb(236 202 156 / .6);

    --bg-hover-gray: rgb(31 41 55 / 1);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #69686a var(--white);

    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: var(--white);
}
*::-webkit-scrollbar-thumb {
    background-color: #69686a;
    border-radius: 10px;
    border: 3px dashed var(--white);
}

html {
    font-family: var(--ff-poppins);
}

body {
    color: var(--text);
    background-color: var(--background);
}

/* Navbar */

.main-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.title_div h1 {
    font-family: var(--ff-josefin);
    font-size: 1.5rem;
}

.title_div span {
    color: var(--primary);
    font-size: 1.5rem;
}

.middle-navbar {
    width: fit-content;
}

.middle-navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.middle-navbar ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text);

    transition: var(--textTransition);
}

.middle-navbar ul li a:hover {
    color: var(--secondary);
}

.search_div {
    width: 209px;
}

.search_div i {
    cursor: pointer;
    margin-left: calc(209px - 1.5rem);
    font-size: 1.5rem;

    transition: var(--textTransition);
}

.search_div i:hover {
    color: var(--secondary);
}

.notShowing {
    display: none;
}

.searchBtn {
    padding: 0.3rem;
    border: none;
    background-color: var(--background);
    cursor: pointer;
}

.searchBtn i {
    font-size: 1rem;

    transition: var(--textTransition);
}

.searchBtn i:hover {
    color: var(--secondary);
}

.hamburger-container {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--text);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 0.6rem;
    }
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.dropdown-menus {
    display: none;
    position: relative;
}

.menus {
    position: absolute;
    display: none;
    right: 0;

    background-color: var(--background);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 0.2);
    z-index: 99;
}

.menus a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    transition: all 0.4s ease;
}

.menus a:hover {
    background-color: var(--bg-hover-gray);
    color: var(--background);
}

.show {
    display: block;
}

/* Search Bar */

.search-bar {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -300%);
    width: 25%;
    padding: 20px;
    background-color: var(--background);
    box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    z-index: 999;

    transition: transform 0.5s ease;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

    position: relative;
}

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}

.close-button {
    cursor: pointer;
    font-size: 18px;

    z-index: 1000;
}

.flex-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 0.5rem;
    margin-bottom: 0.5rem;
}

.flex-close h3 {
    font-family: var(--ff-josefin);
}

.allBooks {
    position: absolute;
    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);

    list-style: none;
}

.allBooks li {
    padding: .8rem;
    margin: 6px;

    border: 1px solid var(--greenish);
    border-left: 4px solid var(--greenish);
    border-radius: .5rem;

    cursor: pointer;
    transition: all .2s ease;
}

.allBooks li:hover {
    background-color: var(--greenishBackground);
}

.allBooks a {
    text-decoration: none;
    color: var(--text);
}

.book_listItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_listItems div h4 {
    font-size: 1.1rem;
}

.book_listItems:nth-child(1) p {
    font-size: .8rem;
}

/* Navbar end */

.main-content {
    margin-top: 1rem;
    width: 70%;
    margin-inline: auto;
}

/* Carousel */

.carousel {
    margin-inline: auto;
    width: 100%;
    height: 450px;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;

    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    border-radius: 1rem;
    transform: translateY(-50%);
    color: var(--clr-orange);
    cursor: pointer;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus-visible {
    opacity: 0.8;
}

.carousel-button:focus-visible {
    outline: 1px solid var(--text);
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 1rem;
}

.circles {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    margin-bottom: 0.5rem;
}

.circles i {
    margin: -.5rem 0.2rem;
    font-size: 1rem;
    color: var(--bg-hover-gray);
}

.circles i[data-active] {
    font-size: 1.3rem;
    color: var(--clr-orange);
}

.line_under_text {
    color: white;
}

/* Recommend section */

.section_recommend {
    width: 100%;
    margin-inline: auto;
    margin-top: 4.5rem;
}

.recommend_title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;
}

.recommend_title h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

.full_list {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.full_list p {
    font-size: 1rem;
}

.full_list button {
    padding: .5rem .75rem;
    border: none;
    background-color: gray;
    color: var(--background);
    cursor: pointer;
}

.full_list button:hover {
    background-color: rgb(0 0 0 / .3);
}

.full_list button i {
    font-size: 1rem;
}

.recommend_books {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    height: 450px;

    display: flex;
    gap: 2rem;
}

.main_recommend_book {
    width: 275px;
    height: 400px;
}

.main_recommend_book img {
    width: 100%;
    height: 75%;
}

.small_recommend_books {
    display: flex;
    gap: 1.5rem;
    width: calc(100% - 275px);

    overflow: hidden;
}

.swiper {
    width: calc(100% - 275px);
    height: 450px;
}

.recommend_book {
    width: 200px;
    height: 450px;

    flex: 0 0 auto;
    transition: margin-left 0.5s ease;
}

.recommend_book img {
    display: block;
    margin-inline: auto;
    height: 220px;
}

.recommend_book_title {
    text-align: center;
    margin-block: .5rem;
}

.recommend_book_hr {
    color: white;
    display: block;
    width: 10%;
    margin-inline: auto;
}

.recommend_book_author {
    text-align: center;
    font-size: .85rem;
    font-weight: 300;
    margin-bottom: .4rem;
}

.recommend_book_type {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    font-size: .8rem;
    margin-block: .3rem;
    padding: .3rem .6rem;
    border-radius: 100vw;
    background-color: var(--greenishBackground);
    color: var(--greenish);
}

.recommend_book_price {
    text-align: center;
    font-size: .9rem;
    margin-block: .5rem;
}

.recommend_book_interested {
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: .5rem .75rem;
    text-decoration: none;

    color: var(--background);
    background-color: var(--primary);

    opacity: 1;
    transition: all 0.1s linear;
}

.recommend_book_interested:hover {
    opacity: .8;
    transform: translateY(-5%);
}

.interestedBtn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--background);

    transition: all 0.1s linear;
    opacity: 1;
}

.interestedBtn:hover {
    opacity: .8;
    transform: translateY(-5%);
}

/* Section Unmissable */

.section_unmissable {
    width: 100%;
}

.section_unmissable_title h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;   
}

.section_unmissable_images {
    width: 85%;
    margin-inline: auto;

    display: flex;
    gap: 2rem;

    margin-block: 3rem;
}

.unmissable_div {
    flex: 1;
    text-decoration: none;

    cursor: pointer;
}

.unmissable_div img {
    display: block;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.unmissable_img {
    display: block;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 1rem;

    background: url(../../assets/Top10Books/TheShining_1.jpg) center/cover no-repeat;
}

.unmissable_img2 {
    width: 150px;
    height: 150px;
    background: url(../../assets/AmierHalalJart.jpg) no-repeat;
    border-radius: 50%;

    margin-inline: auto;
    margin-bottom: 1rem;
}

.unmissable_div h3 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;

    text-decoration: none;
    color: var(--text);
}

/* Section Discount */

.section_discount {
    width: 100%;
}

.section_dicount_title h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-block: 1rem;
}

.section_dicount_title hr {
    color: white;
}

.discount_main_section {
    width: 100%;
    margin-inline: auto;
    display: flex;
    gap: 5rem;
    margin-block: 2rem;
}

.discount_texts {
    width: 40%;

    height: 100%;
}

.discount_div {
    border: 2px solid rgb(128 128 128 / 0.4);
    border-top: none;
    border-left: 5px solid rgb(128 128 128 / 0.5);
    border-right: none;
    height: 56px;
    padding: 0.3rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    text-decoration: none;
    color: var(--text);

    position: relative;
    
    transition: var(--transitionEffect);
}

.discount_div::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 18px solid var(--background);

    transition: var(--transitionEffect);
}

.discount_div:hover {

    .lil_title {
        text-decoration: underline;
    }

    &::after {
        border-left-color: var(--clr-oily-skin);
    }
}

.releaseYear {
    font-size: .8rem;
}

.discount_images {
    width: 60%;
    height: 224px;

}

.imagePreview {
    width: 100%;
    height: 100%;

    opacity: 1;
}

.discount {
    color: var(--clr-orangy);
}

.active {
    border-left: 5px solid var(--clr-orangy);
    background-color: var(--clr-oily-skin);
}

.active::after {
    border-left-color: var(--clr-oily-skin);
}

.horizontal-line {
    color: var(--background);
    display: block;
    border: .01rem solid #D3D3D3;
    margin-inline: auto;
}

.book_for_kid {
    width: 100%;
    margin-block: 3.5rem;
}

.KidBook {
    width: 90%;
    height: 350px;
    background: url('../../assets/GyermekKönyv.gif');
    background-size: cover;
    background-position: center;
    margin-inline: auto;
}

/* Footer */

.footer{
    background: #353535;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-block: .75rem .5rem;
    margin-block: 3rem 0;
}
.footer-list{
    display: flex;
    gap: 2rem;
    padding: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 1.5rem;
}

.footer-link i{
    text-decoration: none;
    color: #C2C2C2;
    font-size: 1.3rem;
    padding: .5rem .6rem;
    border-radius: 50%;
    border: 1px solid #C2C2C2;
}
.footer-link i:hover{
    color: var(--greenish);
    background-color: var(--greenishBackground);
    transition: 0.5s ease;
}
#footer-hr{
    width: 95%;
    border: 1px solid #A1A1A1;
}
.footer-img{
    width: 2rem;
    height: 2rem;
}
.footer-liItem{
    color: #fff;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding-block: 0.2rem;
}
#footer-img{
    width: 150px;
    height: 150px;
}

.footer-list_down {
    list-style: none;
    text-align: center;
    color: var(--background);
    margin-top: 1rem;
}