:root {
    --ff-josefin: 'Josefin Slab', serif;
    --ff-poppins: 'Poppins', sans-serif;

    --textTransition: color 0.3s ease;

    --clr-orange: rgb(249 115 22 / 1);
    --text: #131610;
    --background: #f5f5f7;
    --primary: #81956f;
    --secondary: #abc1b8;
    --accent: #93afae;

    --greenish: #63a29d;
    --greenishBackground: #e6f0ef;

    --bg-hover-gray: rgb(31 41 55 / 1);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--ff-poppins);
}

body {
    color: var(--text);
    background-color: var(--background);
}

/* Navbar */

.main-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.title_div h1 {
    font-family: var(--ff-josefin);
    font-size: 1.5rem;
}

.title_div span {
    color: var(--primary);
    font-size: 1.5rem;
}

.middle-navbar {
    width: fit-content;
}

.middle-navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.middle-navbar ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text);

    transition: var(--textTransition);
}

.middle-navbar ul li a:hover {
    color: var(--secondary);
}

.search_div {
    width: 209px;
}

.search_div i {
    cursor: pointer;
    margin-left: calc(209px - 1.5rem);
    font-size: 1.5rem;

    transition: var(--textTransition);
}

.search_div i:hover {
    color: var(--secondary);
}

.notShowing {
    display: none;
}

.searchBtn {
    padding: 0.3rem;
    border: none;
    background-color: var(--background);
    cursor: pointer;
}

.searchBtn i {
    font-size: 1rem;

    transition: var(--textTransition);
}

.searchBtn i:hover {
    color: var(--secondary);
}

.hamburger-container {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--text);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 0.6rem;
    }
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.dropdown-menus {
    display: none;
    position: relative;
}

.menus {
    position: absolute;
    display: none;
    right: 0;

    background-color: var(--background);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 0.2);
    z-index: 99;
}

.menus a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    transition: all 0.4s ease;
}

.menus a:hover {
    background-color: var(--bg-hover-gray);
    color: var(--background);
}

.show {
    display: block;
}

/* Navbar end */

.main-content {
    margin-top: 1rem;
    width: 70%;
    margin-inline: auto;
}

/* Carousel */

.carousel {
    margin-inline: auto;
    width: 100%;
    height: 450px;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;

    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    border-radius: 1rem;
    transform: translateY(-50%);
    color: var(--clr-orange);
    cursor: pointer;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus-visible {
    opacity: 0.8;
}

.carousel-button:focus-visible {
    outline: 1px solid var(--text);
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 1rem;
}

.circles {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    margin-bottom: 0.5rem;
}

.circles i {
    margin: -.5rem 0.2rem;
    font-size: 1rem;
    color: var(--bg-hover-gray);
}

.circles i[data-active] {
    font-size: 1.3rem;
    color: var(--clr-orange);
}

.line_under_text {
    color: white;
}

/* Recommend section */

.section_recommend {
    width: 100%;
    margin-inline: auto;
    margin-top: 4.5rem;
}

.recommend_title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;
}

.recommend_title h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

.full_list {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.full_list p {
    font-size: 1rem;
}

.full_list button {
    padding: .5rem .75rem;
    border: none;
    background-color: gray;
    color: var(--background);
    cursor: pointer;
}

.full_list button:hover {
    background-color: rgb(0 0 0 / .3);
}

.full_list button i {
    font-size: 1rem;
}

.recommend_books {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    height: 450px;

    display: flex;
    gap: 2rem;
}

.main_recommend_book {
    width: 275px;
    height: 400px;
}

.main_recommend_book img {
    width: 100%;
    height: 75%;
}

.small_recommend_books {
    display: flex;
    gap: 1.5rem;
    width: 75%;

    overflow: hidden;
}

.recommend_book {
    width: 200px;
    height: 450px;

    flex: 0 0 auto;
    transition: margin-left 0.5s ease;
}

.recommend_book img {
    display: block;
    margin-inline: auto;
}

.recommend_book_title {
    text-align: center;
    margin-block: .5rem;
}

.recommend_book_hr {
    color: white;
    width: 65%;
    margin-inline: auto;
}

.recommend_book_author {
    text-align: center;
    font-size: .85rem;
    font-weight: 300;
    margin-bottom: .4rem;
}

.recommend_book_type {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    font-size: .8rem;
    margin-block: .3rem;
    padding: .3rem .6rem;
    border-radius: 100vw;
    background-color: var(--greenishBackground);
    color: var(--greenish);
}

.recommend_book_price {
    text-align: center;
    font-size: .9rem;
    margin-block: .5rem;
}

.recommend_book_interested {
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: .5rem .75rem;
    text-decoration: none;

    color: var(--background);
    background-color: var(--primary);

    opacity: 1;
    transition: all 0.1s linear;
}

.recommend_book_interested:hover {
    opacity: .8;
    transform: translateY(-5%);
}

.interestedBtn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--background);

    transition: all 0.1s linear;
    opacity: 1;
}

.interestedBtn:hover {
    opacity: .8;
    transform: translateY(-5%);
}