
@media screen and (max-width: 1150px) {
    .search_div {
        display: none;
    }
    .notShowing {
        display: block;
    }
    .main-content {
        width: 85%;
    }
    .babel-img{
        width: 250px;
    }
    .booklist-img{
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .middle-navbar {
        display: none;
    }
    .dropdown-menus {
        display: block;
    }
    .hamburger-container {
        display: block;
    } 
    .main-content {
        width: 95%;
    }
    .carousel {
        width: 100%;
        height: 220px;
    }
    .booklist-div{
        padding: .35rem;
    }
    .booklist-img{
        width: 200px;
    }
}

@media screen and (max-width: 440px) {
    .carousel {
        height: 150px;
    }
    .booklist-div{
        padding: .35rem;
    }
    .booklist-img{
        width: 150px;
    }
}