
:root {
    --text: #131610;
    --background: #f5f5f7;
    --primary: #81956f;
    --secondary: #abc1b8;
    --accent: #93afae;
    --ff-josefin: 'Josefin Slab', serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-times: 'Times New Roman', Times, serif;
    --textTransition: color 0.3s ease;
    --clr-orange: rgb(249 115 22 / 1);
    --bg-hover-gray: rgb(31 41 55 / 1);
    --greenish: #63a29d;
    --greenishBackground: #e6f0ef;
    --bg-hover-gray: rgb(31 41 55 / 1);
}
html{
    box-sizing: border-box;
    font-family: var(--ff-poppins);
}
*{
    user-select: none;
    box-sizing: border-box;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #69686a var(--white);
}
*::-webkit-scrollbar {
    width: 16px;
}
*::-webkit-scrollbar-track {
    background: var(--white);
}
*::-webkit-scrollbar-thumb {
    background-color: #69686a;
    border-radius: 10px;
    border: 3px dashed var(--white);
}
img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    margin: 0;
    padding: 0;
}
.main-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.title_div h1 {
    font-family: var(--ff-josefin);
    font-size: 1.5rem;
}
.title_div span {
    color: var(--primary);
    font-size: 1.5rem;
}
.middle-navbar {
    width: fit-content;
}
.middle-navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.middle-navbar ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text);
    font-family: var(--ff-poppins);
    transition: var(--textTransition);
}
.middle-navbar ul li a:hover {
    color: var(--secondary);
}
.search_div {
    width: 209px;
}
.search_div i {
    cursor: pointer;
    margin-left: calc(209px - 1.5rem);
    font-size: 1.5rem;
    transition: var(--textTransition);
}
.search_div i:hover {
    color: var(--secondary);
}
.notShowing {
    display: none;
}
.searchBtn {
    padding: 0.3rem;
    border: none;
    background-color: var(--background);
    cursor: pointer;
}
.searchBtn i {
    font-size: 1rem;
    transition: var(--textTransition);
}
.searchBtn i:hover {
    color: var(--secondary);
}
.hamburger-container {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--text);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 0.6rem;
    }
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 { opacity: 0; }
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
.dropdown-menus {
    display: none;
    position: relative;
}
.menus {
    position: absolute;
    display: none;
    right: 0;
    background-color: var(--background);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 0.2);
    z-index: 99;
}
.menus a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.4s ease;
}
.menus a:hover {
    background-color: var(--bg-hover-gray);
    color: var(--background);
}
.show {
    display: block;
}

/* Breadcrumb */
.breadcrumb{
    width: 65%;
    margin-inline: auto;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 1rem;
    font-family: var(--ff-rubik);
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color:  #81956f;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #abc1b8;
    text-decoration: underline;
}
/* /Breadcrumb */

/* Category Div */
.div-category{
    width: 65%;
    margin-inline: auto;
    font-family: var(--ff-poppins);
    font-weight: 400;
    padding-block: 1rem;
}
.category-head{
    font-family: var(--ff-poppins);
    font-weight: 400;
    margin: 0;
}
.category-list{
    font-size: 1.25rem;
}
.category-list-link{
    text-decoration: none;
    color: #131610;
}
.category-list-link:hover{
    color: #81956f;
}
.category-list li::marker{
    color: #81956f;
}
/* / Category Div */

/* Literature Div */
.div-booklist{
    width: 65%;
    margin-inline: auto;
    font-family: var(--ff-poppins);
    font-weight: 400;
    padding-block: 1rem;
}
.booklist-head{
    text-align: center;
    font-family: var(--ff-poppins);
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}
.booklist-list{
    list-style: none;
}
.booklist-list-link{
    text-decoration: none;
    color: #131610;
}
.booklist-list-link:hover{
    color: #81956f;
}
.booklist-list li::marker{
    color: #81956f;
}
/* / Literature Div */

/* Recommened books */
.recommend_books {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    height: 450px;

    display: flex;
    gap: 2rem;
}
.main_recommend_book {
    width: 275px;
    height: 400px;
}
.main_recommend_book img {
    width: 100%;
    height: 75%;
}
.small_recommend_books {
    display: flex;
    gap: 1.5rem;
    width: calc(100% - 275px);

    overflow: hidden;
}
.swiper {
    width: calc(100% - 275px);
    height: 450px;
}
.recommend_book {
    width: 200px;
    height: 450px;

    flex: 0 0 auto;
    transition: margin-left 0.5s ease;
}
.recommend_book img {
    display: block;
    margin-inline: auto;
    height: 220px;
}
.recommend_book_title{
    text-align: center;
    margin-block: .5rem;
}
.recommend_book_hr{
    color: white;
    display: block;
    width: 15%;
    border: 1px solid #888;
    margin-inline: auto;
}
.recommend_book_author {
    text-align: center;
    font-size: .85rem;
    font-weight: 300;
    margin-bottom: .4rem;
}
.recommend_book_type {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    font-size: .8rem;
    margin-block: .3rem;
    padding: .3rem .6rem;
    border-radius: 100vw;
    background-color: var(--greenishBackground);
    color: var(--greenish);
}
.recommend_book_price {
    text-align: center;
    font-size: .9rem;
    margin-block: .5rem;
}
.recommend_book_interested {
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: .5rem .75rem;
    text-decoration: none;
    color: var(--background);
    background-color: var(--primary);
    opacity: 1;
    transition: all 0.1s linear;
}
.recommend_book_interested:hover {
    opacity: .8;
    transform: translateY(-5%);
}
/* / Recommened books */

/* Books */
.books{
    width: 65%;
    margin-inline: auto;
    height: 25vh;
}
.books-head{
    font-family: var(--ff-poppins);
    font-weight: 400;
    margin: 0;
}
.books-list{
    padding: 0;
    font-family: var(--ff-poppins);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
/* / Books */

/* Babel and others div */
.booklist-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: .5rem;
    /* border: 1px dotted red; */
    /* height: 100vh; */
}
.booklist-img{
    position: sticky;
    top: 1rem;
    width: 300px;
    padding: 0;
}
.description{
    display: block;
    font-size: .85rem;
}
/* .booklist-inner-div-first{
    border: 1px dotted red;
} */
.booklist-inner-div-third-span{
    text-align: center;
}
.booklist-inner-div-second{
    padding: 1.5rem;
    margin: 0;
    width: 30rem;
    /* border: 1px dotted red; */
}
.booklist-second-heading{
    font-size: 1rem;
    text-decoration: underline;
    color: #131610;
}
.booklist-second-heading:hover{
    color: #81956f;
}
.booklist-third-heading{
    font-size: 1.75rem;
    font-family: var(--ff-times);
}
.booklist-inner-div-third-p{
    text-align: center;
    font-size: 2rem;
    font-family: var(--ff-times);
    font-weight: bold;
}
.booklist-inner-div-third-btn{
    font-size: 1.5rem;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    background: var(--primary);
    border: 0;
    width: 9rem;
    height: 4rem;
    cursor: pointer;
}
/* / Babel div */

/* Footer */
.footer{
    background: #353535;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-block: .75rem .5rem;
    margin-block: 3rem 0;
}
.footer-list{
    display: flex;
    gap: 2rem;
    padding: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 1.5rem;
}
.footer-link i{
    text-decoration: none;
    color: #C2C2C2;
    font-size: 1.3rem;
    padding: .5rem .6rem;
    border-radius: 50%;
    border: 1px solid #C2C2C2;
}
.footer-link i:hover{
    color: var(--greenish);
    background-color: var(--greenishBackground);
    transition: 0.5s ease;
}
#footer-hr{
    width: 95%;
    border: 1px solid #A1A1A1;
}
.footer-img{
    width: 2rem;
    height: 2rem;
}
.footer-liItem{
    color: #fff;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding-block: 0.2rem;
}
#footer-img{
    width: 150px;
    height: 150px;
}
.footer-list_down {
    list-style: none;
    text-align: center;
    color: var(--background);
    margin-top: 1rem;
}
/* / Footer */

/* hr */
.horizontal-line{
    display: block;
    border: .01rem solid #D3D3D3;
    margin-inline: auto;
}
/* hr */